@keyframes move-in-right {
  0% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(5%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes move-in-left {
  0% {
    transform: translateX(100%);
  }
  70% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0%);
  }
}
