$color-white: #ffffff;
$color-dark: #333333;
$color-primary: #4096FC;
$color-primary-dark: #1781FF;
$color-primary-dark: #1781FF;
$text-color-gray-1: #333333;
$text-color-gray-2: #4f4f4f;
$text-color-gray-3: #828282;
