.hero--download {
  background-color: $color-primary;
  width: 100%;
  height: 90rem;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;

  &__content {
    padding-top: 17rem;
    margin-left: 4rem;
  }

  &__slogan {
    width: 50% !important;
  }

  &__description {
    color: $color-white !important;
    margin-top: 3rem;
    margin-left: 1rem;
    letter-spacing: 0.15rem;
    line-height: 3rem;
  }



  &__phone {
    position: absolute;
    right: 5%;
    top: 20%;
    animation: move-in-left 0.7s ease-in-out;

    img {
      width: 34.8rem;
      height: 61.1rem;
    }
  }

  @media only screen and (max-width: 59.375em) {
    &__content {
      padding-top: 17rem;
    }
  }
  @include response(tab-land) {
    &__content {
      padding-top: 17rem;
    }
  }

  @include response(tab-port) {
    height: 110rem;

    &__content {
      padding-top: 23rem;
      text-align: center;
    }
    &__slogan {
      margin-left: auto;
      margin-right: auto;
    }

    &__phone {
      display: none;
    }

    .google_play_btn {
      margin-bottom: 5rem;
    }
  }
}

.google_play_btn {
  margin-top: 4rem;
  margin-left: .3rem;
  display: block;

  img {
    width: 27rem;
    height: 10rem;
    transition: 0.3s all ease-in-out;

    &:hover {
      @include button-hover-effect;
      border-radius: 2rem;
    }

  }
}

.features {
  width: 80%;
  margin: -13rem auto;
  background-color: $color-white;
  border-radius: 3rem;
  height: 68rem;
  padding: 2rem;
  box-shadow: 0 .4rem 1rem rgba(0,0,0, .4);
  margin-bottom: 4rem;
  position: relative;
  text-align: center;

  @include response(tab-port) {
    height: 88rem;
  }

  &__heading {
    padding-top: 4.5rem;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 8rem;

    .description {
      width: 100%;
      padding: .5rem 1.7rem;
      margin-top: 4.3rem;
      h3 {
        font-size: 2.4rem;
        color: $text-color-gray-1;
        font-family: "Lato-Regular";
      }
      p {
        margin-top: 3rem;
      }
    }

  }
  .rhombus {
    width: 14.8rem;
    height: 14.8rem;
    border-radius: 3.4rem;
    transform: rotate(45deg);
    background-color: $color-primary-light;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    &:before {
      content: '';
      width: 13rem;
      height: 13rem;
      border-radius: 100%;
      background-color: $color-white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .countdown, .worker, .apple {
      width: 10.6rem;
      height: 10.6rem;
    }

    .svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }

  }
}

.top--features {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 10rem;
  margin-bottom: 4rem;
  padding: 0 4rem;
  position: relative;
  height: 115rem;

  &:before {
    content: '';
    position: absolute;
    left: 4rem;
    top: 0;
    width: 80rem;
    height: 80rem;
    background-color: $color-primary;
    border-radius: 100%;
    margin-top: 10rem;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    z-index: 9;
    position: relative;

    .description {
      width: 100%;
      padding: .5rem 1.7rem;
      margin-top: 4.3rem;
      h3 {
        font-size: 2.4rem;
        color: $text-color-gray-1;
        font-family: "Lato-Regular";
      }
      p {
        margin-top: 3rem;
      }

    }

    .rhombus {
      width: 14.8rem;
      height: 14.8rem;
      border-radius: 3.4rem;
      transform: rotate(45deg);
      background-color: $color-primary-light;
      position: relative;
      margin-left: auto;
      margin-right: auto;

      &:before {
        content: '';
        width: 13rem;
        height: 13rem;
        border-radius: 100%;
        background-color: $color-white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .list {
        width: 9rem;
        height: 9rem;
      }

      .money, .smile, .time {
        width: 9rem;
        height: 10.6rem;
      }

      .time {
        margin-left: -.6rem;
      }

      .svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }

    }
    &--1 {
      background-color: $color-white;
      width: 30rem;
      border-radius: 2.5rem;
      padding: 3rem 2rem 2rem 2rem;
      box-shadow: 0 0 18px rgba(0,0,0, .4);
      position: absolute;
      left: 8%;
      top: 0;
    }
    &--2 {
      background-color: $color-white;
      width: 30rem;
      border-radius: 2.5rem;
      padding: 3rem 2rem 2rem 2rem;
      box-shadow: 0 0 18px rgba(0,0,0, .4);
      position: absolute;
      left: calc(10% + 30rem);
      top: 14rem;
    }
    &--3 {
      background-color: $color-white;
      width: 30rem;
      border-radius: 2.5rem;
      padding: 3rem 2rem 2rem 2rem;
      box-shadow: 0 0 18px rgba(0,0,0, .4);
      position: absolute;
      left: calc(10% + 30rem);
      top: 63rem;
    }
    &--4 {
      background-color: $color-white;
      width: 30rem;
      border-radius: 2.5rem;
      padding: 3rem 2rem 2rem 2rem;
      box-shadow: 0 0 18px rgba(0,0,0, .4);
      position: absolute;
      left: 8%;
      top: 47rem;
    }
  }
  &__text {
    padding-top: 35rem;
    text-align: center;

    h1 {
      color: $text-color-gray-1;
      font-weight: bold;
      letter-spacing: .15rem;
    }

    p {
      margin-top: 2rem;
    }
  }

  @include response(tab-port) {
    display: block;
    text-align: center;
    margin-top: 40rem;
    //padding-top: 2rem;

    &:before {
      left: -3rem;
    }

    &__text {
      position: absolute;
      top: -50%;
      right: 50%;
      transform: translateX(50%);

    }
  }
}

.plan {
  margin-bottom: 15rem;
  h1 {
    text-align: center;
    color: $text-color-gray-1;
  }
  &__wrapper {
    display: flex;
  }

  &__free {
    width: 56rem;
    height: 67rem;
    border-radius: 3rem;
    box-shadow: 0 0 15px rgba(0,0,0, .4);
    margin-left: 20rem;
    margin-top: 16rem;
    padding: 5rem 4rem 2rem 4rem;
    background-color: $color-white;

    @include response(tab-port) {
      margin-left: .5rem;
      padding: 5rem 8rem 2rem 1rem;
    }

    h3 {
      text-align: center;
      font-family: 'Lato-Bold' !important;
      color: $text-color-gray-1;
    }

    span {
      text-align: center;
      font-family: 'Lato-Bold' !important;
      color: $color-primary;
      display: block;
      font-size: 3.5rem;
      margin-top: 2rem;
      margin-bottom: 6rem;
    }

    &--items {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      p {
        margin-left: 4rem;

        @include response(tab-port) {
          margin-left: 2rem;
        }
      }

      .quit {
        width: 4rem;
        height: 4rem;
      }
    }

    &--btn {
      margin-left: 10rem;
      margin-top: 4rem;
      a {
        font-family: 'Lato-Light';
      }
    }

    @include response(tab-port) {
      &--btn {
        margin-left: 3rem;
      }
    }
  }

  &__premium {
    width: 56rem;
    height: 83rem;
    border-radius: 3rem;
    box-shadow: 0 0 15px rgba(0,0,0, .4);
    margin-left: -8rem;
    margin-top: 8rem;
    padding: 5rem 4rem 2rem 4rem;
    background-color: $color-primary !important;

    h3 {
      text-align: center;
      font-family: 'Lato-Bold' !important;
      color: $color-white;
    }

    &--price {
      text-align: center;
      font-family: 'Lato-Bold' !important;
      color: $color-white;
      display: block;
      font-size: 3rem;

      span {
        font-size: 2.4rem;
      }
    }


    &--items {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 4rem;
      }

      .tick {
        width: 4rem;
        height: 4rem;

        stroke: $color-white;
        stroke-width: .6rem;
        stroke-dasharray: 2,2;
        stroke-linejoin: round;
      }

      p {
        margin-left: 4rem;
        color: $color-white;
      }
    }

    &--btn {
      margin-left: 10rem;
      margin-top: 4rem;
      a {
        font-family: 'Lato-Light';
      }
    }

    @include response(tab-port) {
      &--btn {
        margin-left: 1rem;

      }
    }

  }
}

.testimonials {
  width: 100%;
  height: 80rem;
  background-color: $color-primary-dark;

  @include response(tab-port) {
    height: 100rem;
  }


  &__container {
    width: 95%;
    margin: 0 auto;
    padding-top: 3rem;
  }

  h2 {
    color: $color-white;
    margin-bottom: 4rem;
  }
}

.try {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 5rem;
  position: relative;

  @include response(tab-port) {
    display: block;
    text-align: center;
    margin-bottom: 10rem;
  }

  &:before {
    content: '';
    position: absolute;
    right: 5rem;
    top: 2rem;
    background-color: $color-primary;
    width: 59rem;
    height: 59rem;
    border-radius: 100%;

    @include response(tab-port) {
      top: 40rem;
      right: 50%;
      transform: translateX(50%);
      z-index: 1;
      background-color: transparent;
    }
  }


  &__phone {
    justify-self: end;
    margin-right: 14rem;
    margin-top: -2rem;
    z-index: 2222;

    @include response(tab-port) {
      margin-right: 0;
      margin-top: 10rem;

    }

    img {
      width: 40rem;
      height: 71rem;
      z-index: 2222;
    }
  }

  &__text {
    margin-left: 5rem;
    h3 {
      color: $text-color-gray-1;
      font-family: "Montserrat-Regular";
      font-weight: bold;
      margin-top: 2rem;
    }

  }
}