@font-face {
  font-family: 'Lato-Light';
  src: url('/public/assets/fonts/Lato-Light.ttf');
}
@font-face {
  font-family: 'Lato-Thin';
  src: url('/public/assets/fonts/Lato-Thin.ttf');
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('/public/assets/fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('/public/assets/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('/public/assets/fonts/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat-Thin';
  src: url('/public/assets/fonts/Montserrat-Thin.ttf');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/public/assets/fonts/Montserrat-Regular.ttf');
}

.heading-primary {
  font-size: 4.5rem;
  @media only screen and (max-width: 81.25em) {
    font-size: 4rem;
  }

  @media only screen and (max-width: 68.75em) {
    font-size: 3.5rem;
  }

  @media only screen and (max-width: 59.375em) {
    font-size: 3rem;
  }

  @media only screen and (max-width: 43.75em) {
    font-size: 2.5rem;
    line-height: 5rem;
  }

  @media only screen and(max-width: 28.125em) {
    font-size: 2rem;
    line-height: 3.5rem;
  }
  color: $color-white;
  line-height: 7rem;
  font-family: 'Lato-Light';

  &--underline {
    display: inline-block;
    border-bottom: 0.3rem solid $color-primary-dark;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}

.heading-secondary {
  font-size: 3.6rem;

  @include response(phone) {
    font-size: 2.5rem;
  }

  color: $text-color-gray-1;
  font-family: 'Montserrat-Thin';
  letter-spacing: 0.3rem;

  &--white {
    color: $color-white;
  }
}

.heading-tertiary {
  font-size: 2.6rem;

  @media only screen and (max-width: 62.5em) {
    font-size: 2.4rem;
  }
  @include response(tab-port) {
    font-size: 2.2rem;
  }

  @media only screen and (max-width: 43.75m) {
    font-size: 1.7rem;
  }

  @include response(phone) {
    font-size: 1.5rem;
  }
  color: $text-color-gray-1;
  font-family: 'Lato-Light';
  letter-spacing: 0.2rem;
  &--text-white {
    color: $color-white;
    font-family: 'Lato-Regular';
    letter-spacing: 0.2rem;

    @media only screen and (max-width: 68.75em) {
      font-size: 2.4rem;
    }
  }
}

.paragraph {
  font-size: 1.8rem;
  color: $text-color-gray-2;
  font-family: 'Lato-Light';

  @media only screen and (max-width: 81.25em) {
    font-size: 1.6rem;
  }

  &--white {
    color: $color-white;
    font-size: 2rem;

    @media only screen and (max-width: 81.25em) {
      font-size: 1.8rem;
    }
  }
}

.text-lead {
  margin-left: 0.6rem;
  font-size: 1.6rem;
  color: $color-white;
  font-family: 'Lato-Regular';
}
