@font-face {
  font-family: "Lato";
  src: url("/src/sass/vendors/fonts/Lato-Light.ttf") format(".ttf");
  src: url("/src/sass/vendors/fonts/Lato-Thin.ttf") format(".ttf");
  src: url("/src/sass/vendors/fonts/Lato-Regular.ttf") format(".ttf");
  src: url("/src/sass/vendors/fonts/Lato-Bold.ttf") format(".ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/sass/vendors/fonts/Montserrat-Light.ttf") format(".ttf");
  src: url("/src/sass/vendors/fonts/Montserrat-Thin.ttf") format(".ttf");
  src: url("/src/sass/vendors/fonts/Montserrat-Regular.ttf") format(".ttf");
}

.heading-primary {
  font-size: 4.5rem;
  font-weight: normal;
  color: $color-white;
  line-height: 7rem;
  font-family: "Lato";

  &--underline {
    display: inline-block;
    border-bottom: 0.3rem solid $color-primary-dark;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 300;
  color: $text-color-gray-1;
}

.heading-tertiary {
  font-size: 2.6rem;
  font-weight: 600;
  color: $text-color-gray-1;

  &--text-white {
    color: $color-white;
    font-family: "Lato";
  }
}

.paragraph {
  font-size: 1.8rem;
  font-weight: 300;
  color: $text-color-gray-2;
}

.text-lead {
  font-size: 1.6rem;
  font-weight: lighter;
  color: $color-white;
  font-family: "Lato";
}
