.u-position-absolute {
  position: absolute;
}
.u-position-top-left {
  top: 0;
  left: 0;
}
.u-margin-bottom-small {
  margin-bottom: 2rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-big {
  margin-bottom: 6rem;
}
.u-margin-bottom-huge {
  margin-bottom: 8rem;
}
.u-container {
  width: 1200px;
  margin: 0 auto;
}