.btn {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s all ease-in-out;

  &--primary {
    font-size: 2rem;
    padding: 1.5rem 5rem;

    @media only screen and (max-width: 43.75em) {
      font-size: 1.5rem;
      padding: 1.5rem 3rem;
    }

    @media only screen and(max-width:20em) {
      padding: 1.5rem 2rem;
    }

    @media only screen and (max-width: 18.75em) {
      font-size: 1.1rem;
    }
    border-radius: 6rem;
    background-color: $color-primary-dark;
    color: $color-white;

    &:hover {
      @include button-hover-effect;
    }

    &:focus {
      @include button-focus-effect;
    }
  }

  &--info {
    font-size: 1.8rem;
    color: $color-dark;
    text-decoration: underline;

    &:hover {
      transform: none;
      box-shadow: none;
      text-decoration: underline;
      @include button-hover-effect;
      box-shadow: none;
    }

    &:focus {
      @include button-focus-effect;
      box-shadow: none;
    }
  }

  &--white {
    background-color: $color-white;
    color: $color-primary;
    font-size: 2rem;
    padding: 1.5rem 10rem;
    border-radius: 5rem;

    &:hover {
      @include button-hover-effect;
    }

    &:focus {
      @include button-focus-effect;
    }
  }
}
