.card {
  padding: 1rem 2rem;
  transition: 0.3s all ease-in-out;
  border-radius: 0.6rem;
  @include response(tab-port) {
    margin-left: auto;
    text-align: center;
  }

  &:hover {
    @include card-hover-effect;
  }

  &:not(:last-child) {
    margin-right: 3rem;

    @include response(tab-port) {
      margin-right: auto;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    @include response(tab-port) {
      display: block;
    }
  }

  &--1 {
    flex: 1;

    @include response(tab-port) {
      margin-bottom: 7rem;
    }
  }

  &--2 {
    flex: 1;

    @include response(tab-port) {
      margin-bottom: 7rem;
    }
  }

  &--3 {
    flex: 1;

    &--no-hover {
      &:hover {
        transform: translateY(0) !important;
        box-shadow: none !important ;
      }
    }
  }

  &__icon {
    height: 7.8rem;
    width: 9rem;
    @include response(tab-port) {
      margin: auto;
      margin-bottom: 3rem;
    }

    @media only screen and(max-width: 31.25em) {
      height: 6.5rem;
      width: auto;
    }

    & > img {
      width: 100%;
      height: 100%;
    }
  }
  &:hover {
    transform: translateY(-1rem);
    box-shadow: 0.5rem 0.5rem 1.5rem rgba($color-dark, 0.65);
  }
}
