.testimonials-card {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 20rem;
  background-color: $color-primary;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  transition: 0.3s all ease-in-out;

  @media only screen and(max-width:43.75em) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    justify-items: center;
  }

  @media only screen and(max-width:20.37em) {
    width: 100%;
    padding: 1rem;
    margin-right: 0;
    margin-left: 0;
    display: block;
    text-align: center;
  }

  @include response(tab-port) {
    height: 26rem;
  }


  &:hover {
    @include card-hover-effect;
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__profile {
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 1rem;
    @media only screen and(max-width:20.37em) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__image {
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
  }

  &__content {
    position: relative;
    width: 70%;
    text-align: center;
    @media only screen and(max-width:20.37em) {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
    }

    p {
      font-family: 'Lato-Light';
    }
    &::before {
      content: url("/public/assets/images/quote-open_icon.svg");
      display: block;
      margin-bottom: 2rem;
      text-align: left;
      @media only screen and(max-width:43.75em) {
        content: '';
      }
    }


    &::after {
      content: url("/public/assets/images/quote-close.svg");
      display: block;
      text-align: right;
      margin-top: 2rem;

      @media only screen and(max-width:43.75em) {
        content: '';
      }
    }
  }

  &__name {
    margin-left: 1rem;
    margin-right: 3rem;

    @media only screen and(max-width:43.75em) {
      position: absolute;
      top: 75%;
      left: 2%;
    }

    @media only screen and(max-width:20.37em) {
      position: relative;
      margin-top: .5rem;
      top: 0;
      left: 0;
    }

    span {
      display: block;
      font-family: 'Montserrat-Regular';
      font-size: 1.8rem;
      color: $color-white;
    }
  }
}